<md-dialog aria-label="Change Account Details" flex="30" ng-cloak>
  <form name="signupForm">
    <md-card-header>
      <md-toolbar>
        <div class="md-toolbar-tools">Change Password</div>
      </md-toolbar>
    </md-card-header>
    <md-card-content>
      <md-input-container>
        <label>Password</label>
        <input name="pass" ng-model="pass" required type="password">
      </md-input-container>
      <md-input-container>
        <label>Retype Password</label>
        <input name="rt-pass" ng-model="rt_pass" required type="password">
      </md-input-container>
    </md-card-content>
    <md-card-actions layout-align="center center" layout="column">
      <span style="color:red;">{{error}}</span>
      <md-button class="md-raised md-accent md-hue-2" style="width:200px" ng-click="changePass(pass,rt_pass)" ng-disabled="signupForm.$invalid">Submit</md-button>
    </md-card-actions>
  </form>
</md-dialog>
