<md-dialog aria-label="Change Account Details" flex="30" ng-cloak>
  <form name="signupForm">
    <md-card-header>
      <md-toolbar>
        <div class="md-toolbar-tools">Change Account Details</div>
      </md-toolbar>
    </md-card-header>
    <md-card-content>
      <md-input-container>
        <label>Retailer Name</label>
        <input name="frmName" ng-model="name" required type="text"/>
      </md-input-container>
      <md-input-container>
        <label>Phone</label>
        <input min-length="9" name="frmPhone" ng-model="phone" required type="number">
      </md-input-container>
      <md-input-container>
        <label>Email</label>
        <input name="frmEmail" ng-model="email" required type="email">
      </md-input-container>
      <md-input-container>
        <label>Location</label>
        <input name="loc" ng-model="loc" required type="text">
      </md-input-container>
      <md-input-container>
        <label>Address</label>
        <input name="add" ng-model="addr" required type="text">
      </md-input-container>
    </md-card-content>
    <md-card-actions layout-align="center center" layout="column">
      <span style="color:red;">{{error}}</span>
      <md-button class="md-raised md-accent md-hue-2" style="width:200px" ng-click="changeAcc(name,email,phone,loc,addr)" ng-disabled="signupForm.$invalid">Submit</md-button>
    </md-card-actions>
  </form>
</md-dialog>
