<div ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <span>
        <h2>Spares</h2>
      </span>
    </div>
  </md-toolbar>
  <md-content layout-align="center center" layout-margin layout="row">
    <md-card flex layout-wrap>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <span>
            <h4>{{shop}}
              Dashboard</h4>
          </span>
          <span flex></span>
          <md-button class="md-raised md-accent md-hue-2" ng-click="logout()">Logout</md-button>
        </div>
      </md-toolbar>
      <md-tabs class="md-primary" md-border-bottom md-dynamic-height md-selected="1">
        <md-tab label="My Account">
          <md-content class="md-padding" flex="55">
            <div class="ui piled segment">
              <h3>My Account Deatails</h3>
              <div class="ui celled list">
                <div class="item" ng-repeat="(key, value) in accountDetails">
                  <div class="header">{{key}}</div>
                  <div class="content">
                    {{value}}
                  </div>
                </div>
              </div>
              <table>
                <tr>
                  <td>
                    <md-button class="md-raised md-accent md-hue-2" ng-click="changePasswordDialog()">Change Password</md-button>
                  </td>
                  <td>
                    <md-button class="md-raised md-accent md-hue-2" ng-click="changeAccountDialog()">Change Details</md-button>
                  </td>
                </tr>
              </table>
            </div>
          </md-content>
        </md-tab>
        <md-tab label="Products">
          <md-content layout="column">
            <div id="productsPopup">
              <md-button aria-label="Add" class="md-fab md-mini md-accent md-hue-2" ng-click="addNewDialog($event)">
                <md-icon md-svg-src="img/icons/add.svg"></md-icon>
              </md-button>
            </div>
            <md-divider></md-divider>
            <md-divider></md-divider>
            <table class="ui celled striped table" layout-margin>
              <thead>
                <tr>
                  <th>
                    #
                  </th>
                  <th>
                    Type
                  </th>
                  <th>
                    Make
                  </th>
                  <th>
                    Model
                  </th>
                  <th>
                    Year
                  </th>
                  <th>
                    Rating
                  </th>
                  <th>
                    Quantity
                  </th>
                  <th>
                    Price
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="(key, value) in products">
                  <td class="collapsing">
                    <md-button aria-label="Update" class="md-fab md-mini md-accent md-hue-2" ng-click="updateProductDialog(value.id)">
                      <md-icon md-svg-src="img/icons/update.svg" style="margin:0px;"></md-icon>
                    </md-button>
                    <md-button aria-label="Delete" class="md-fab md-mini md-accent md-hue-2" ng-click="delProduct(value.id)">
                      <md-icon md-svg-src="img/icons/delete.svg" style="margin:0px;"></md-icon>
                    </md-button>
                  </td>
                  <td>{{value.type}}</td>
                  <td>{{value.make}}</td>
                  <td>{{value.model}}</td>
                  <td>{{value.year}}</td>
                  <td>{{value.rating}}</td>
                  <td>{{value.quantity}}</td>
                  <td>Ksh
                    {{value.price}}</td>
                </tr>
              </tbody>
            </table>
          </md-content>
        </md-tab>
        <md-tab label="Orders">
          <md-content class="md-padding">
            <table class="ui celled striped table" layout-margin>
              <thead>
                <tr>
                  <th>
                    Status
                  </th>
                  <th>
                    Name
                  </th>
                  <th>
                    Phone
                  </th>
                  <th>
                    Email
                  </th>
                  <th>
                    Quantity
                  </th>
                  <th>
                    Cost
                  </th>
                  <th>
                    Status
                  </th>
                  <th>
                    Service
                  </th>
                  <th>
                    Cancel
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="(key, value) in orders">
                  <td>{{value.status}}</td>
                  <td>{{value.name}}</td>
                  <td>{{value.phone}}</td>
                  <td>{{value.email}}</td>
                  <td>{{value.quantity}}</td>
                  <td>Ksh
                    {{value.cost}}</td>
                  <td>
                    <div class="ui orange horizontal label">{{value.status}}</div>
                  </td>
                  <td class="collapsing">
                    <md-button aria-label="Update" class="md-fab md-mini md-accent md-hue-2" ng-click="makeSale(value.id)">
                      <md-icon md-svg-src="img/icons/done.svg" style="margin:0px;"></md-icon>
                    </md-button>
                  </td>
                  <td class="collapsing">
                    <md-button aria-label="Delete" class="md-fab md-mini md-accent md-hue-2" ng-click="cancelSale(value.id)">
                      <md-icon md-svg-src="img/icons/cancel.svg" style="margin:0px;"></md-icon>
                    </md-button>
                  </td>
                </tr>
              </tbody>
            </table>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-card>
  </md-content>
</div>
