<div ng-cloak layout="column" layout-fill>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <span>
        <h2>Spares</h2>
      </span>
    </div>
  </md-toolbar>
  <md-content layout-align="center center" layout-fill layout="row" style="background:url('img/bg.jpg');background-attachment:fixed;">
    <md-card flex="30" style="margin-top:-150px;">
      <form name="LoginForm">
        <md-card-header>
          <md-toolbar>
            <div class="md-toolbar-tools">Admin Login</div>
          </md-toolbar>
        </md-card-header>
        <md-card-content>
          <md-input-container>
            <label>Username</label>
            <input name="username" ng-model="username" required type="text">
          </md-input-container>
          <md-input-container>
            <label>Password</label>
            <input name="password" ng-model="password" required type="password">
          </md-input-container>
        </md-card-content>
        <md-card-actions layout-align="center center" layout="column">
          <span style="color:red;">{{error}}</span>
          <md-button class="md-raised md-accent md-hue-2" ng-click="login(username, password)" ng-disabled="LoginForm.$invalid" style="width:200px">Login</md-button>
          <h5 layout-padding>Don't have an account yet?
            <a href="/#/signup">
              Signup</a>
            now!</h5>
        </md-card-actions>
      </form>
    </md-card>
  </md-content>
</div>
