<div ng-cloak layout="column" layout-fill>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <span>
        <h2>Spares</h2>
      </span>
    </div>
  </md-toolbar>
  <md-content layout-align="center center" layout="row" style="background:url('img/bg.jpg')">
    <form name="signupForm" flex="30">
      <md-card style="margin-top:30px;">
        <md-card-header>
          <md-toolbar>
            <div class="md-toolbar-tools">Retailer Signup</div>
          </md-toolbar>
        </md-card-header>
        <md-card-content>
          <md-input-container>
            <label>Username</label>
            <input name="user" ng-model="user" required type="text">
          </md-input-container>
          <md-input-container>
            <label>Password</label>
            <input name="pass" ng-model="pass" required type="password">
          </md-input-container>
          <md-input-container>
            <label>Retype Password</label>
            <input name="rt-pass" ng-model="rt_pass" required type="password">
          </md-input-container>
          <md-input-container>
            <label>Retailer Name</label>
            <input name="frmName" ng-model="name" required type="text" />
          </md-input-container>
          <md-input-container>
            <label>Phone</label>
            <input min-length="9" name="frmPhone" ng-model="phone" required type="number">
          </md-input-container>
          <md-input-container>
            <label>Email</label>
            <input name="frmEmail" ng-model="email" required type="email">
          </md-input-container>
          <md-input-container>
            <label>Location</label>
            <input name="loc" ng-model="loc" required type="text">
          </md-input-container>
          <md-input-container>
            <label>Address</label>
            <input name="add" ng-model="addr" required type="text">
          </md-input-container>
        </md-card-content>
        <md-card-actions layout-align="center center" layout="column">
          <span style="color:red;">{{error}}</span>
          <md-button class="md-raised md-accent md-hue-2" ng-click="signup(user,pass,rt_pass,name,email,phone,loc,addr)" ng-disabled="signupForm.$invalid" style="width:200px">Signup</md-button>
        </md-card-actions>
      </md-card>
    </form>
  </md-content>
</div>
