<md-dialog style="height:500px;"  flex="30" aria-label="New Product" ng-cloak>
  <form name="newProdForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Update Product</h2>
      </div>
    </md-toolbar>
    <md-dialog-content layout-padding>
      <md-input-container>
        <label>Type</label>
        <input name="type" ng-model="typ" required type="text">
      </md-input-container>
      <md-input-container>
        <label>Make</label>
        <input name="make" ng-model="make" required type="text">
      </md-input-container>
      <md-input-container>
        <label>Model</label>
        <input name="model" ng-model="model" required type="text">
      </md-input-container>
      <md-input-container>
        <label>Year</label>
        <input name="year" ng-model="year" required type="number">
      </md-input-container>
      <md-input-container>
        <label>Quantity</label>
        <input name="qty" ng-model="quantity" required type="number">
      </md-input-container>
      <md-input-container>
        <label>Price</label>
        <input name="price" ng-model="price" required type="number">
      </md-input-container>
      <md-button ng-disabled="newProdForm.$invalid" layout-fill style="width:350px;" ng-click="updateProduct(typ,make,model,year,quantity,price)" class="md-raised md-accent md-hue-2">update</md-button>
    </md-dialog-content>
  </form>
</md-dialog>
