<div class="mui-container" style="margin-top:50px;">
  <div class="mui-appbar">
    <div class="mui--text-center">
      <h3 class="mui--appbar-height mui--appbar-line-height" style="margin:0;">Checkout</h3>
    </div>
  </div>
  <div class="mui-panel mui--z3">
    <form name="checkoutForm">
      <legend>Fill in form</legend>
      <div class="mui-textfield">
        <input ng-model="name" name="name" placeholder="Name" type="text">
      </div>
      <div class="mui-textfield">
        <input ng-model="phone" name="phone" placeholder="Phone" type="number">
      </div>
      <div class="mui-textfield">
        <input ng-model="email" name="email" placeholder="Email" type="email">
      </div>
      <div class="mui-textfield">
        <input ng-model="quantity" name="quantity" type="number" placeholder="quantity"></input>
      </div>
      <button class="mui-btn mui-btn--raised mui-btn--accent" ng-click="checkout(name, phone, email, quantity)" style="margin:0px;clear:both;height:50px;">Checkout</button>
    </form>
  </div>
</div>
