<div class="mui-container" style="margin-top:50px;">
  <div class="mui-panel mui--z3">
    <h3>Thank you for shooping we us. We have received your Order and will get in touch soon</h3>
  </div>
</div>
