<div class="mui-container" style="margin-top:50px;margin-left:10px;">
  <div class="ui cards">
  <div ng-repeat="(key, value) in items" class="card">
    <div class="content">
      <div class="header">
        <b> {{value.type}} </b> | <small><b>rating: {{value.rating}}</b></small>
      </div>
      <div class="meta">
        {{value.retailer}} | {{value.location}}
      </div>
      <div class="description">
        <table>
          <tr>
            <td>
              <b>Make:</b>
            </td>
            <td>
              {{value.make}}
            </td>
          </tr>
          <tr>
            <td>
              <b>Model:</b>
            </td>
            <td>
              {{value.model}}
            </td>
          </tr>
          <tr>
            <td>
              <b>Stock Left:</b>
            </td>
            <td>
              {{value.quantity}}
            </td>
          </tr>
          <tr>
            <td>
              <b>Price:</b>
            </td>
            <td>
              {{value.price}}
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="extra content">
      <div class="ui two buttons">
        <div class="ui basic green button"><i class="fa fa-thumbs-up"></i></div>
        <div class="ui basic red button"><i class="fa fa-thumbs-down"></i></div>
      </div>
      <div style="padding:10px" class="ui two buttons">
        <div ng-click="makeOrder(value.id, value.price, value.retailerid)" class="ui basic purple button">Make Order</div>
      </div>
    </div>
  </div>
</div>
</div>
