<div class="mui-container" style="margin-top:50px;">
  <div class="mui-panel mui--z3">
    <div class="ui middle aligned huge divided selection list">
      <div ng-click="viewCategory(key)" class="item" ng-repeat="(key, value) in searchResults">
        <div class="right floated content">
          <a class="ui green circular label">{{value}}</a>
        </div>
        <div class="content">
          {{key}}
        </div>
      </div>
    </div>
  </div>
</div>
