<div class="mui-container" style="margin-top:50px;">
  <div class="mui-appbar">
    <div class="mui--text-center">
      <h3 class="mui--appbar-height mui--appbar-line-height" style="margin:0;">Search for Spares</h3>
    </div>
  </div>
  <div class="mui-panel mui--z3">
    <form>
      <div class="mui-select">
        <select ng-model="param.make" ng-options="value as value for (key,value) in products.makes">
          <option value="">Select Make</option>
        </select>
      </div>
      <div class="mui-select">
        <select ng-model="param.model" ng-options="value as value for (key,value) in products.models">
          <option value="">Select Model</option>
        </select>
      </div>
      <div class="mui-select">
        <select ng-model="param.year" ng-options="value as value for (key,value) in products.years">
          <option value="">Select Year</option>
        </select>
      </div>
      <div class="mui-select">
        <select ng-model="param.location" ng-options="value as value for (key,value) in products.locations">
          <option value="">Select Location</option>
        </select>
      </div>
      <button class="mui-btn mui-btn--raised mui-btn--accent" ng-click="viewListing(param.make,param.model,param.year,param.location)" style="margin:0px;clear:both;height:50px;">View Listings</button>
    </form>
  </div>
</div>
